<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ExoJEEeCommerce</display-name>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>ignore</param-name>
      <param-value>false</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>listeProduits</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>connexion</servlet-name>
    <servlet-class>com.projet.servlets.Connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listeClients</servlet-name>
    <servlet-class>com.projet.servlets.ListeClients</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listeClients</servlet-name>
    <url-pattern>/admin/listeClients</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>services</servlet-name>
    <servlet-class>com.projet.servlets.Services</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>services</servlet-name>
    <url-pattern>/services</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listeProduits</servlet-name>
    <servlet-class>com.projet.servlets.ListeProduits</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listeProduits</servlet-name>
    <url-pattern>/listeProduits</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listeCommandesClient</servlet-name>
    <servlet-class>com.projet.servlets.listeCommandesClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listeCommandesClient</servlet-name>
    <url-pattern>/listeCommandes</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>dashboardDirection</servlet-name>
    <servlet-class>com.projet.servlets.DashboardDirection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dashboardDirection</servlet-name>
    <url-pattern>/admin/direction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>panier</servlet-name>
    <servlet-class>com.projet.servlets.Panier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>panier</servlet-name>
    <url-pattern>/monPanier</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>accesRefuse</servlet-name>
    <servlet-class>com.projet.servlets.AccesRefuse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>accesRefuse</servlet-name>
    <url-pattern>/accesRefuse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>inscription</servlet-name>
    <servlet-class>com.projet.servlets.Inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>filtrePanier</filter-name>
    <filter-class>com.projet.filtres.FiltrePanier</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>filtrePanier</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>filtreRestriction</filter-name>
    <filter-class>com.projet.filtres.FiltreRestriction</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>filtreRestriction</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
</web-app>